body{
	background: White;
}

.page-header{
	margin: 0;
}
.centerinfo{

}
.maincont{
	margin-top: 60px;
	padding: 0 15px 30px 15px;
}

@media (max-width: 991px){
	.maincont{
		padding-top:50px;
	}

}
@media (max-width: 768px){
	.maincont{
		padding-top:0;
	}
}

@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
		color:white;
	}
}
.divinlog{
	padding:3px 20px;
}

.leftpos{
	text-align: left;
}

.leftpos a{
	font-size: 17px;
}

.mainproduct{
	padding-top: 10px;
}

.thumbnail{
	margin-bottom: 5px;
}

.sortproduct{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
 	list-style-type: none;
}

.sortproduct li{
 display: inline;
}

.c {
	clear: both;
}

/*Footer*/

#footer-sub{
	color:white;
  background-color: #333;
  border-top: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer-sub h5{
  color:white;
  margin-top: 25px;
}

#footer-sub ul{
  list-style: none;
  margin-top: 20px;
}

#footer-sub hr{
  margin: 5px;
}

#footer-sub ul li{
margin-left: -38px;
}

#footer-sub a:link {
  text-decoration: none;
  color:white;
  font-size: 16px;
}

#footer-sub a:visited {
  text-decoration: none;
  color:white;
}


#footer-sub a:hover {
  text-decoration: none;
  color: black;
}

#footer-sub  .glyphicon {
  font-size: 35px;
   color:White;
}

#sub-two{
  margin: 0px;
  padding: 0px;
}
