/*Main content*/
body{
	background: #FFFFFF;
}

.page-header{
	margin: 0;
}

.maincont{
	margin-top: 30px;
	padding: 0 15px 30px 15px;
}

/* correcting margin navbar and maincontent for unauthorised user*/
@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
		color:#FFFFFF;
	}
	.maincont{
		margin-top: 95px;
	}
}
@media (max-width: 407px) {
	.maincont{
		margin-top: 65px;
	}
}

.leftpos{
	text-align: left;
}

.leftpos a{
	font-size: 17px;
}

.mainproduct{
	padding-top: 10px;
}

.thumbnail{
	margin-bottom: 5px;
}

.c {
	clear: both;
}

/*Footer*/
#footer-sub{
	color:#FFFFFF;
  background-color: #333;
  border-top: 1px solid #000000;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer-sub h5{
  color:#FFFFFF;
  margin-top: 25px;
}

#footer-sub ul{
  list-style: none;
  margin-top: 20px;
}

#footer-sub hr{
  margin: 5px;
}

#footer-sub ul li{
	margin-left: -38px;
}

#footer-sub a:link {
  text-decoration: none;
  color:#FFFFFF;
  font-size: 16px;
}

#footer-sub a:visited {
  text-decoration: none;
  color:#FFFFFF;
}


#footer-sub a:hover {
  text-decoration: none;
  color: #000000;
}

#footer-sub  .glyphicon {
  font-size: 35px;
   color:#FFFFFF;
}

#sub-two{
  margin: 0px;
  padding: 0px;
}
