body{
	background: White;
}
footer {
	background: #292929;
	border-top: 1px solid lightgrey;
}

.centerinfo{
	/*border-left: 1px solid lightgrey;*/
	/*border-right:  1px solid lightgrey;*/
}
.maincont{
	margin-top: 60px;
	padding: 0 15px 30px 15px;
}
.divinlog{
	padding:3px 20px;
}

.leftpos{
	text-align: left;
}

.leftpos a{
	font-size: 17px;
}

.mainproduct{
	padding-top: 30px;
}

.thumbnail{
	margin-bottom: 5px;
}

.sortproduct{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
 	list-style-type: none;
}


.sortproduct li{
 display: inline;
}
